.header {
}

.barTop {
  width: 1000px;
  height: 17px;
  background-color: aqua;
  border-radius: 30px;
  margin: 20px auto;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  color: #3b3b3b;
}

.navBarTop {
  display: inline-flex;
  justify-content: start;
}

.navBarTop * {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
  margin-right: 15px;
}

.authLoggined {
  display: flex;
  justify-content: right;

  & button {
    font-size: 14px;
    margin-top: -7px;
    padding: 2px;
  }
}

.authUserInfo {
  margin-right: 10px;
}