.postMainElement {
  margin-top: 15px;
  padding: 20px;
  width: 800px;
  border-radius: 30px;
  border-color: lightblue;
  border-width: 10px;
  border-style: inset;
  margin-left: auto;
  margin-right: auto;
}

.postListElement {
  width: 800px;
  max-height: 100px;
  cursor: pointer;
}

.buttonAddPost {
  border-color: #2ee90d;
  background-color: #2ee90d;
  color: white;
  position: fixed;
  right: 10px;
  bottom: 20px;
  transform: translate(-50%, -50%);
}

.comments {
  margin-top: 30px;
}

.commentItem {
  & hr {
    color: gray;
  }
} 
.commentItemContent {
  margin: 10px 60px;
}

.form * {
  margin-top: 10px;
}

.windowCreatePost {
  background: #f9f9f9;
  box-shadow: 10px 10px 10px #e3e3e3;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -350px;
  margin-left: -550px;
  width: 1100px;
  height: 700px;
  border-radius: 10px;
}

.windowCreatePost textarea {
  resize: none;
  width: 1000px;
  height: 350px;
  border-width: 3px;
  border-radius: 10px;
  padding: 10px;
  margin-left: 35px;
  margin-top: 25px;
}

.BlockButton {
  padding-left: 600px;
}

.windowCreatePost button {
  margin-top: 10px;
  margin-left: 10px;
}

.commentsTextArea {
  resize:vertical;
  width: 974px;
  height: auto;
  border-width: 3px;
  border-radius: 10px;
  padding: 10px
}

.form textarea:focus {  
  border-color: orange;
}